# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm
.idea/

# Logs and local files
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db